html,body,h1,h2,h3,h4,h5,h6,div,pre {
    font-family:'Times New Roman', Times, serif;
}


.main{
    position: relative;
    width: 32em;
    background-color:floralwhite;
    position:fixed;
    left:0vw;
    top: 0vw;
    height:100vh;
}
.picture{
    width: 48em;
    position:fixed;
    left:32em;
    top: 0em;
    height:100vh;
}
.center{
    width:24em;
    height: 100vh;
    position:absolute;
    left: 0em;
    top: 0em;
    background-attachment:local;
    background-image: url("picture for html/CENTER/1.jpg");
    background-size:cover;
    background-position: center;

    -webkit-transition: background-image 3s;
    transition: background-image 3s;
    -webkit-transition-timing-function:ease;
    transition-timing-function: ease;
}
.right{
    width: 24em;
    height: 100%;
    position: absolute;
    left:24em;
    top: 0em;
}

.up{
    position: relative;
    min-height: 50vh;
    background-attachment:local;
    background-image: url("picture for html/UP/1.jpg");
    background-size:cover;
    background-position: center;
    /**/
    -webkit-transition: background-image 3s;
    transition: background-image 3s;
    -webkit-transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
    transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
}
.down{
    position: relative;
    min-height: 50vh;
    background-attachment:local;
    background-image: url("picture for html/DOWN/Quote.jpg");
    background-size:cover;
    background-position: center;

    -webkit-transition: background-image 3s;
    transition: background-image 3s;
    -webkit-transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
    transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
    
}
.paragragh{
    position:absolute;
    top:30vh;
    width: inherit;
}
.Title{
    position:absolute;
}

.quote{
    animation: fade-slide-up 12s ease-out forwards;
    position: absolute;;
    color:ivory;
    top: 10%;
    -webkit-transition:display 3s;
    transition: display 3s;
    -webkit-transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
    transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
}
#quote1{
    display: block;
}

#quote2{
    display: none;
}

.Taiwan{
    z-index: -1;
    background-image: url("picture for html/Taiwan.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position:absolute;
    width:50%;
    height: 50vh;
    right: 0;
    bottom:1rem;
}

@keyframes fade-slide-up {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  25%{
    opacity: 0.7;
  }
  50%{
    opacity: 1;
    transform: none;
  }
  85% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0;
  }
}